body{
    background-color: lightcyan;
}

#Wrapper{
    display: flex;
    gap: 10px;
}

#container{
    width: 350px;
    background-color: grey;
}

.myImg{
    opacity: 0.5;
    transition: opacity 1s;
}

.myImg.fade{
    opacity: 1;
}

p{
    background-color: aquamarine;
}

#container2{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
}