html,body{
    margin: 8px;
}

#container{
    display: block;
    height:500px;
    width:500px;
    background-color: white;
    border: 1px solid red;
    position: relative;
    padding: 0px;
    margin: 10px;
    cursor: pointer;
}